.btn {
  background: linear-gradient(#FF79DA,#9356DC);
  color: #fff;
  padding: 1em 1.375em;
  border-radius: 3.75em; /* = btn height = 2x padding-top-bottom + font-size */
  overflow: hidden;
  position: relative;
  z-index: 1;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
  transition: box-shadow ease 250ms;

  &::after {
    @include pseudo-element-syntax;
    @include btn-after-no-hover;
    background:rgba(255,255,255,0.2);
    z-index: -1;
    
  }
  &:hover {
    // transform: scale(1.05);
    transition: box-shadow ease 250ms;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,20%), 0 10px 20px 0 rgb(0,0,0,14%);
    &::after {
    opacity: 1;
    }
  }
}