.card {
  display: block;
  width: 100%;
  border-radius: $card-bd-radius;
  overflow: hidden;
  background: #fff;
  @include shadow;
  transition: all ease 500ms; 
  &--index {
    height: calc(75vw - (100vw - 90vw));
    max-height: 300px;
    min-height: 200px;
    @include desktop {
      height: auto;
      min-height: none;
      max-height: none;
      aspect-ratio: 335 / 251;
    }
  }
  &:hover {
    transition: all ease-in-out 250ms;
    // @include shadow(0.3);
    box-shadow: 0 6px 6px 0 rgba(0,0,0,26%), 0 10px 20px 0 rgb(0,0,0,19%);
  }

  &__img {
    height: 70%;
    width: 100%;
    object-fit: cover;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30%;
    width: 93%;
    margin: auto;
  }

  &__title {
    margin-bottom: 0.5rem;
  }

  i {
    padding: 1rem;
  }

  &--new {
    position: relative;
    &::after {
      content: "Nouveau";
      color: darken($tertiary-color,35%);
      font-weight: 500;
      font-size: 1.4rem;
      background: $tertiary-color;
      padding: 1rem 1.2rem;
      position: absolute;
      top: 1.2rem;
      right: 1.2rem;
      border-radius: 0.2rem;
    }
  }
}