.btn--like {
  i {
    font-size: 2.4rem;
  }

  &--unchecked {
    opacity: 1;
    z-index: 1;
  }

  &--checked {
    opacity: 0;
    background: linear-gradient(50deg, #FF79DA 0%, #9356DC 80%, #9356DC 100%);
    background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    transform: scale(0);
    transition: transform ease-out 200ms, opacity ease-out 600ms;
    z-index: 100;
  }

   &:hover {
     .btn--like--unchecked {
       opacity: 0;
       transition: opacity ease-out 200ms;
     }
    .btn--like--checked {
      opacity: 1;
      transform: scale(1);
      transition: opacity ease-out 200ms, transform ease-out 200ms;
    }
  }

  &:focus {
    outline: none;
  }
}