/*
Animation explanation :
- each category appears with a delay depending on their own "child number"
- each menu item appears with a delay depending on both: the nth child number category to which they belong and their own position within this category
*/


@for $i from 1 through 3 {
  @for $a from 1 through 4 {
    $category-delay: calc((-1 + $i)*0.8s);   /* -1 so that the 1st element has no delay applied */
    $menu-item-delay: calc($category-delay + (-1 + $a)*0.2s); 
    .category__container :nth-child(#{$i}) {
      h2 {
      animation: category-anim 0.8s $category-delay both;
      }
      .category__list :nth-child(#{$a}).menu__item {
        animation: menu-item-anim 0.6s $menu-item-delay ease-out both;
      }
    }
  } 
}

@keyframes category-anim {
  0%{
    opacity: 0;
    transform: translateX(3rem);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes menu-item-anim {
  0%{
    opacity: 0;
    transform: translateY(50%);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}