/*
Animation explanation :
- each category appears with a delay depending on their own "child number"
- each menu item appears with a delay depending on both: the nth child number category to which they belong and their own position within this category
*/


@for $i from 1 through 3 {
  /* delay function caculates delay for categories */
  $category-delay: delay($i,$menu-category-delay);  

  .category__container :nth-child(#{$i}) {
    h2 {
    animation: category-anim 0.8s $category-delay both;
    }
  }
  @for $a from 1 through 4 {
    /* delay function caculates delay for items */
    $item-delay: calc($category-delay + delay($a,$menu-item-delay)); 

    .category__container :nth-child(#{$i}) {
      .category__list :nth-child(#{$a}).menu__item {
        animation: menu-item-anim 0.6s $item-delay ease-out both;
      }
    }
  } 
}

@keyframes category-anim {
  0%{
    opacity: 0;
    transform: translateX(3rem);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes menu-item-anim {
  0%{
    opacity: 0;
    transform: translateY(50%);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}