body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: map-get($map: $font-sizes, $key: main);
}

h1, h2 {
  font-size: map-get($map: $font-sizes, $key: titles);
  font-weight: 700;
}

h3 {
  font-size: map-get($map: $font-sizes, $key: card-titles);
}

p {
  font-size: map-get($map: $font-sizes, $key: card-text);
  font-weight: 300;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}