@mixin flex-center($direction: row, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: $align;
}

@mixin flex-start($direction: row, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: flex-start;
  align-items: $align;
}

@mixin flex-between($direction: row, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: space-between;
  align-items: $align;
}

@mixin bg-text-color($color: #fff) {
  background: $color;
  @if (lightness($color) > 80%) {
    color: #000;  
  } 
  @else {
    color: #fff;
  }
}

@mixin section-styling($padding-tb: $padding-tb-section, $bd-color: #fff) {
  padding: $padding-tb 0;
  @include bg-text-color($bd-color);
}

@mixin pseudo-element-syntax {
  content:"";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin btn-after-no-hover {
  opacity: 0;
  transition: all 600ms;
  z-index: -1;
}

@mixin shadow($opacity: $shadow-opacity) {
  box-shadow: 0 5px 10px 0 rgba(0,0,0,$opacity);
}


@mixin tablet-up {
  @media screen and (min-width: map-get($breakpoints,tablet)) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: map-get($breakpoints,desktop)) {
    @content;
  }
}