/* Color palette */
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$neutral-color-light: #F6F6F6;
$neutral-color-dark: #353535;

/* Font sizes */
$font-sizes : (
  main: 1.6rem,
  inputs: 1.4rem,
  titles: 2.3rem,
  subtitles: 1.8rem,
  card-titles: 1.6rem,
  card-text: 1.5rem
);

/* Breakpoints */
$breakpoints:(
  tablet: 768px,
  desktop: 991px
);


$margin-b-h2: 3rem;
$container-width: 90%;
$container-width-desktop: 95%;
$padding-tb-section: 5rem;

$content-max-width: 1350px;

$shadow-opacity: 0.2;

/* Cards */
$card-bd-radius: 1.5rem;
/* Process section */
$step-number-size : 1.55em;


/* Menu */
$padding-tb-menu: 4rem;
$menu-category-delay: 0.8s;
$menu-item-delay: 0.2S;

/* Loader */
$letter-duration: 1s;
$letter-delay: 0.2s;

/* 
Length of svg logo letters
From first to last letter
*/
$letter-length:
  215,
  346,
  455,
  337,
  282,
  282,
  282,
  254
;