/* Color palette */
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$neutral-color-light: #F6F6F6;
$neutral-color-dark: #353535;

/* Font sizes */
$font-sizes : (
  main: 1.6rem,
  inputs: 1.4rem,
  titles: 2.2rem,
  subtitles: 1.7rem,
  card-titles: 1.8rem,
  card-text: 1.7rem
);

$container-width: 90%;
$padding-tb-section: 5rem;


/* Process section */
$step-number-size : 1.55em;

