.header {
  @include flex-center;
  width: 100%;
  padding: 2.2rem 0 1.2rem;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.15);
  position: relative;
  z-index: 1;
  &__img {
    width: 43.7%;
    max-width: 40rem;
  }

  &--menu {
    i {
      position: absolute;
      left: 6%;
      top: 45%;
      border-radius: 0.1rem;
    }
  }

  &__return:hover i {
    transform: scale(0.9);
    transition: transform 200ms ease;
  }
&__return:focus i {
    outline: solid 1px #000;
    outline-offset: 1rem;

  }
}